templates.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="templates">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="template">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="br" />
                <xs:element name="property-value">
                  <xs:complexType>
                    <xs:attribute name="prop" type="xs:string" use="required" />
                    <xs:attribute name="res-format" type="xs:string" use="optional" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="get-template">
                  <xs:complexType>
                    <xs:attribute name="prop" type="xs:string" use="required" />
                    <xs:attribute name="tag" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="for-each">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="tr">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="td">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="0" name="current-value" />
                                  <xs:element minOccurs="0" name="counter" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="prop" type="xs:string" use="required" />
                    <xs:attribute name="tag" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="class" type="xs:string" use="required" />
            <xs:attribute name="res-format" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>